@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700);
@import url(https://fonts.googleapis.com/css?family=Abel);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
 background-image:url( "../images/bg.png" );
  font-family: '微軟正黑體';
}

.add{
  background-color: #FF5252;
  font-family: '微軟正黑體';
  border: 1px #FF5252 solid;
  color: #fff;
  width: 300px;
  height: 150px;
  font-size: 50px;
  margin-left: 200px;
  /*margin-top: 20px;*/
  border-radius: 5px;
  box-shadow:2px 2px 5px rgba(20%,20%,40%,0.5);
  /*text-align:center;*/
  /*margin-bottom: 50px;*/
  float: left;
}


.add:hover{
  background-color: #FFD9EC  ;
  font-family: '微軟正黑體';
  border: 1px #FFD9EC solid;
  color: #000;
  width: 300px;
  height: 150px;
  font-size: 50px;
  margin-left: 200px;
  /*margin-top: 20px;*/
  border-radius: 5px;
  box-shadow:2px 2px 5px rgba(20%,20%,40%,0.5);
  transition: all 0.5s;
  cursor: pointer;
  /*text-align:center;*/

}


.account_manage{
  background-color: #FF5252;
  font-family: '微軟正黑體';
  border: 1px #FF5252 solid;
  color: #fff;
  width: 300px;
  height: 150px;
  font-size: 50px;
  margin-left: 140px;
  margin-top: 29px;
  border-radius: 5px;
  box-shadow:2px 2px 5px rgba(20%,20%,40%,0.5);
  /*text-align:center;*/
  /*margin-bottom: 50px;*/
  float: left;
}


.account_manage:hover{
  background-color: #FFD9EC  ;
  font-family: '微軟正黑體';
  border: 1px #FFD9EC solid;
  color: #000;
  width: 300px;
  height: 150px;
  font-size: 50px;
  margin-left: 140px;
  margin-top: 29px;
  border-radius: 5px;
  box-shadow:2px 2px 5px rgba(20%,20%,40%,0.5);
  transition: all 0.5s;
  cursor: pointer;
  /*text-align:center;*/

}


.message_manage{
  background-color: #FF5252;
  font-family: '微軟正黑體';
  border: 1px #FF5252 solid;
  color: #fff;
  width: 300px;
  height: 150px;
  font-size: 50px;
  margin-left: 200px;
  margin-top: 12px;
  border-radius: 5px;
  box-shadow:2px 2px 5px rgba(20%,20%,40%,0.5);
  /*text-align:center;*/
  /*margin-bottom: 50px;*/
  float: left;
}


.message_manage:hover{
  background-color: #FFD9EC  ;
  font-family: '微軟正黑體';
  border: 1px #FFD9EC solid;
  color: #000;
  width: 300px;
  height: 150px;
  font-size: 50px;
  margin-left: 200px;
  margin-top: 12px;
  border-radius: 5px;
  box-shadow:2px 2px 5px rgba(20%,20%,40%,0.5);
  transition: all 0.5s;
  cursor: pointer;
  /*text-align:center;*/

}


.travel_information{
  /*border-bottom: 1px dashed black;*/
  padding: 5px;
  margin-bottom: 30px;
  background-color: white;
  width: 1300px;
  box-shadow:5px 5px 10px rgba(20%,20%,40%,0.5);
  margin: 0 auto;
  position: relative;
  height: 550px;
  line-height: 40px;
  margin-top: 30px;
  padding-top: 50px;
}



.travel_pic img{
  width: 570.24px;
  height: 374.95953px;
  float: left;
  margin: 70px 20px;
}


.travel_word{
  margin-left: 30px;
  float: left;
  word-break: break-all;
  width: 580px;
  height: 420.83px;
  position: relative;
  margin: 0 20px;
  font-size: 20px;
}

.travel_word select , input , textarea{
  font-size: 18px;
  font-family: '微軟正黑體';
  border: 2px #91D04E solid;
  border-radius: 5px;
}

.travel_word h2{
  float: left;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #000;
}

.travel_word h2:hover{
  color: #7B7B7B;
}

.travel_word p{
  font-size: 20px;
  /*position: absolute;*/
  /*bottom: 20px;*/
  line-height: 35px;
}

/*.price{
  position: absolute;
  bottom: 30px;
}
*/
.delete_information{
  background-color: #FF5252;
  font-family: '微軟正黑體';
  border: 1px #FF5252 solid;
  color: #fff;
  width: 110px;
  height: 30px;
  font-size: 20px;
  margin-left: 160px;
  margin-top: 10px;
  border-radius: 5px;
  float: right;
  margin-right: 20px;
  box-shadow:2px 2px 5px rgba(20%,20%,40%,0.5);
  right: 0px;
  position: absolute;
  top:470px;
}

.delete_information:hover{
  background-color: #FFD9EC  ;
  font-family: '微軟正黑體';
  border: 1px #FFD9EC solid;
  color: #000;
  width: 110px;
  height: 30px;
  font-size: 20px;
  margin-left: 160px;
  margin-top: 10px;
  border-radius: 5px;
  float: right;
  margin-right: 20px;
  box-shadow:2px 2px 5px rgba(20%,20%,40%,0.5);
  transition: all 0.5s;
  cursor: pointer;
}


.modify_information{
  background-color: #FF5252;
  font-family: '微軟正黑體';
  border: 1px #FF5252 solid;
  color: #fff;
  width: 110px;
  height: 30px;
  font-size: 20px;
  margin-left: 160px;
  margin-top: 10px;
  border-radius: 5px;
  float: right;
  margin-right: 20px;
  box-shadow:2px 2px 5px rgba(20%,20%,40%,0.5);
  position: absolute;  
  right: 140px;
  top:470px;

}

.modify_information:hover{
  background-color: #FFD9EC  ;
  font-family: '微軟正黑體';
  border: 1px #FFD9EC solid;
  color: #000;
  width: 110px;
  height: 30px;
  font-size: 20px;
  margin-left: 160px;
  margin-top: 10px;
  border-radius: 5px;
  float: right;
  margin-right: 20px;
  box-shadow:2px 2px 5px rgba(20%,20%,40%,0.5);
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
}

.travel_word span{
  color: red;
}

.clear{
  clear:both;
}


